footer.footer
  ul.footer__nav
    li: a(href="https://arunsakthianandm.github.io/" target="_blank") About us
    li: a(href="https://arunsakthianandm.github.io/" target="_blank") Products
    li: a(href="https://arunsakthianandm.github.io/" target="_blank") Privacy
    li: a(href="https://arunsakthianandm.github.io/" target="_blank") Careers
    li: a(href="https://arunsakthianandm.github.io/" target="_blank") Contact
  p.footer__copyright &copy; Arun Sakthi Anand 2023