.login-enroll-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login-enroll-form .form-input {
  padding: 20px;
  width: 400px;
}

.login-enroll-form .form-button {
  color: rgb(52, 46, 46);
  font-size: 20px;
  border: 3px solid var(--background-main);
  border-radius: 200px;
  padding: 10px 0px;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.login-enroll-form .form-button:hover {
  background-color: var(--background-main);
  cursor: pointer;
}

.login-enroll-form p {
  color: rgb(85, 85, 85);
  margin-bottom: -20px;
}
